.first-screen {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @media (max-width: 900px) {
    align-items: center;
  }
  @media (max-width: 500px) {
    background: url("./../../public/image/Group 19.jpg") top no-repeat;
    background-size: contain;
   
  }
}
.first-screen__container {
  width: 414px;
  margin-left: 80px;
  @media (max-width: 1000px) {
    margin: 0%;
  }
  @media (max-width: 900px) {
    width: 80%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}
.first-screen__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 40px;
  @media (max-width: 500px) {
    color: #FFFFFF;
  font-size: 11.25vw;
  text-align: center;
  margin-top: 27px;
   }
}
.first-screen__text {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
  @media (max-width: 500px) {
    color: #FFFFFF;
  font-size: 4.375vw;
  text-align: center;
   }
}
.first-screen__button {
  padding: 14px 26px;
  background: #68b738;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  @media (max-width: 500px) {
    width: 100%;
   }
 
}
.first-screen__pic {
  margin: -90px;
  z-index: -1;
  @media (max-width: 500px) {
  z-index: 1;
  margin: 0;
  width: 90vw;
  &:not(.mobile) {
    display: none;
    
  }
 }
}

