.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 57px;
    background: #F2F2F2;
    @media (max-width: 700px) {
       padding: 40px 20px;
      }
      @media (max-width: 500px) {
        flex-direction: column;
       gap: 52px;
       }
}
.main-footer__list {
    display: flex;
    gap: 24px;
    position: relative;
    
    @media (max-width: 500px) {
        &::before, &::after {
            @include default-pseudo-element(100%,2px);
            background: #D9D9D9;
            left: 0;
        }
        &::before {
            top: -20px;
        }
        &::after {
            bottom: -20px;
        }
       }
       
       }
