body {
  overflow-x: hidden;

  &::before {
    @include default-pseudo-element(50vw, 694px);
    top: 0;
    right: 0;
    background: #68b738d9;
    z-index: -1;
    @media(max-width: 1100px) {
      content: none;}
  }
  &::after {
    @include default-pseudo-element(50vw, 694px);
    top: 0;
    right: 0;
    background: url(./../../public/image/index-background-desktop\ 1.jpg)
      no-repeat;
    z-index: -2;
    background-size: cover;
    @media(max-width: 1100px) {
      content: none;
    }
  }
}
* {
  margin: 0;
  font-family: "Oswald";
}
a {
  text-decoration: none;
}
.container {
  padding: 0 30px;
  max-width: 100vw;
  box-sizing: border-box;
}
.title {
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
ul {
  @include list-none();
}
button {
  @include button-none();
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
